@page "/"

<div id="dashboard" class="container mt-5">
    <div class="mb-4">
        <h5>Dashboard</h5>
        <p class="text-sub">
            Overview of your Internet of Things
        </p>
    </div>
    <div class="gridview">
        <DailyStats />
        <DeviceList />
    </div>
</div>

@code {

}